* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.main {
	background-color: #78cee0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Menu Hambúrguer */

.checkbox {
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	position: relative;
	cursor: pointer;
}

.checkbox .trace {
	width: 90px;
	height: 8px;
	background-color: white;
	position: absolute;
	border-radius: 4px;
	transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
	top: 26px;
	transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
	top: 46px;
	transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
	top: 66px;
	transform: rotate(0);
}

.toggle {
	display: none;
}

#toggle1:checked + .checkbox .trace:nth-child(1) {
	transform: rotate(45deg);
	top: 47px;
}

#toggle1:checked + .checkbox .trace:nth-child(2) {
	transform: translateX(-100px);
	width: 30px;
	visibility: hidden;
	opacity: 0;
}

#toggle1:checked + .checkbox .trace:nth-child(3) {
	transform: rotate(-45deg);
	top: 48px;
}

/* Quadrado */
/* .quadrado .checkbox .trace:nth-child(1) {
	background-color: greenyellow;
}

.quadrado .checkbox .trace:nth-child(2) {
	background-color: blueviolet;
}

.quadrado .checkbox .trace:nth-child(3) {
	background-color: tomato;
}

.quadrado .checkbox .trace:nth-child(4) {
	background-color: sienna;
	top: 86px;
	transform: rotate(0);
}

#toggle2:checked + .checkbox .trace:nth-child(1) {
	transform: rotate(90deg);
}

#toggle2:checked + .checkbox .trace:nth-child(2) {
	left: 90px;
    top: 26px;
	transform: rotate(-90deg);
	transition: left 0.5s ease-in-out;
}

#toggle2:checked + .checkbox .trace:nth-child(3) {
	left: 48px;
	transform: rotate(-180deg);
	transition: left 0.5s ease-in-out;
}

#toggle2:checked + .checkbox .trace:nth-child(4) {
	top: -20px;
    right: -38px;
	transform: rotate(-180deg);
	transition: left 0.5s ease-in-out;
} */