* {
	font-family: 'Open Sans', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
    width: 80%;
	max-width: 300px;
	background: var(--first-color);
    color: var(--second-color);
}

header {
	margin: 50px auto 25px;
}

form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

label {
	width: 100%;
}

label input {
	background-color: var(--second-color);
	color: var(--first-color);
	width: calc(100% - 30px);
}

label,
label input,
button {
	margin: 5px 0;
}

label input {
	padding: 15px;
	border-radius: 10px;
	border: 1px solid var(--first-color);
}

button {
	border-radius: 10px;
	border: 1px solid var(--third-color);
    color: rgb(11, 112, 112);
    background-color: var(--fourth-color);
	padding: 15px 20px;
	font-weight: 600;
	cursor: pointer;
}

.mensagem-erro {
	display: none;
	color: var(--fifth-color);
	font-size: 9pt;
}

.tarefas {
	list-style-type: none;
	align-self: flex-start;
    padding: 0;
	width: 100%;
}

.custom-checkbox {
	display: flex;
    flex-direction: row;
	margin: 10px;
	position: relative;
	cursor: pointer;
}

.custom-checkbox input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

.custom-checkbox__checkbox {
	position: absolute;
	top: 0;
	left: 0;
	height: 26px;
	width: 26px;
	border: 1px solid var(--second-color);
	border-radius: 5px;
	background-color: var(--second-color);
}

.custom-checkbox input:checked ~ .custom-checkbox__checkbox {
	background-color: var(--fourth-color);
	border: 1px solid var(--fourth-color);
}

.custom-checkbox__checkbox::after {
	display: none;
	content: '';
	position: absolute;
}

.custom-checkbox .custom-checkbox__checkbox::after {
	content: '';
	left: 9px;
	top: 4px;
	width: 5px;
	height: 10px;
	transform: rotate(45deg);
	border-right: 3px solid var(--third-color);
	border-bottom: 3px solid var(--third-color);
}

.custom-checkbox input:checked ~ .custom-checkbox__checkbox::after {
	display: block;
}

.custom-checkbox input[type="checkbox"]:checked ~ .custom-checkbox__label {
	color: var(--sixth-color);
	text-decoration: line-through;
}

.custom-checkbox__label {
	margin-left: 40px;
    line-height: 26px;
}
